<div class="cartBox">
    <div class="row">
        <div class="col-md-3">
            <label for="">Start Data</label>
            <input type="date" class="form-control">
        </div>
        <div class="col-md-3">
            <label for="">End Data</label>
            <input type="date" class="form-control">
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button class="btn btn-success">Apply</button>
        </div>
    </div>
    
    <table class="table table-striped">
        <header style="padding-left: 30px;">
            <tr >
                <th></th>
               <th style="padding-left: 70px;">Date</th>
               <th></th>
               
               <th></th>
                <th style="padding-left: 90px;">Quantity</th>
              
                <th></th>

            </tr>
        </header>

        <tbody >
            <tr *ngFor="let item of carts;let index=index">
              <td></td>
                <td>{{item.date | date:"short date"}}</td>
                <td style="padding-right: 560px;">
                    {{item.products.length}}
                </td>
               
                 <td>
                    <button class="btn btn-danger" >Delete</button>
                    <button class="btn btn-primary">View</button>
                 </td>
                
            </tr>
        </tbody>
        
    </table>
</div>
